# Python environments
/.conda/

# Python files (including packaging)
__pycache__/
build/
dist/
sdist/
wheels/
*.egg-info/
*.egg

# Python notebooks
*.ipynb
*.ipynb_checkpoints
nohup.out

# VS Code
/.vscode/

# Run/debug files
/work/

# Other sources
/oasis3-mct/

# Extra example files
/examples/domain_cfg.nc
/examples/maskutil.nc
