# Python files
__pycache__/

# Python notebooks
*.ipynb
*.ipynb_checkpoints
nohup.out

# VS Code
/.vscode/

# Run/debug files
/work/

# Other sources
/oasis3-mct/

# Extra example files
/examples/domain_cfg.nc
/examples/maskutil.nc
